<app-navbar> </app-navbar>
<div class="container-fluid">
  <div class="container mt-3">
    <h1>Información legal</h1>
    <p>
      En cumplimiento con el deber de información recogido en artículo 10 de la
      Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información
      y del Comercio Electrónico, a continuación se reflejan los siguientes
      datos de información general de este Sitio Web: La empresa titular de este
      website (en adelante, la 'website' o el 'Sitio Web') es Skill Connect
      S.L., con domicilio en Calle Verdadera 73, 1º, 28010 Madrid, con número de
      C.I.F: B-95632587.
    </p>
    <ul>
      <li><b> Teléfono: </b> + 34 956826521</li>
      <li><b> Email: </b>skillconnect@hotmail.com</li>
    </ul>
    <h1>Uso del website</h1>
    <p>
      El navegar y acceder a los contenidos y servicios que alberga esta revista
      online, implica que conoces y aceptas completamente las presentes
      Condiciones Generales de Uso.
    </p>
    <p>
      Estas Condiciones Generales regulan el acceso, navegación y uso del
      website. Del mismo modo, se regulan las responsabilidades derivadas de la
      utilización de sus contenidos -textos, gráficos, dibujos, diseños,
      fotografías, software, códigos, vídeos, música, bases de datos, imágenes,
      etc.
    </p>

    <p>
      Como usuario asumes la responsabilidad del uso del website. Dicha
      responsabilidad se extiende al registro que fuese necesario para acceder a
      determinados servicios o contenidos. En dicho registro el usuario será
      responsable de aportar información veraz y lícita. Como consecuencia de
      este registro, al usuario se le puede proporcionar una contraseña de la
      que será responsable, comprometiéndose a hacer un uso diligente y
      confidencial de la misma.
    </p>
    <p>
      Te comprometes a utilizar el website y sus servicios de conformidad con la
      ley, con las presentes Condiciones Generales, así como las prácticas
      generalmente aceptadas en Internet. Te obligas a abstenerte de utilizar
      los servicios con fines o efectos ilícitos o contrarios a lo establecido
      en las Condiciones Generales, y con carácter enunciativo pero no
      limitativo, a no emplearlos para (a) incurrir en actividades ilícitas,
      ilegales o contrarias a la buena fe y al orden público; (b) difundir
      contenidos o propaganda de carácter racista, xenófobo,
      pornográfico-ilegal, de apología del terrorismo o atentatorio contra los
      derechos humanos; (c) provocar daños en los sistemas físicos y lógicos de
      Skill Connect, de sus proveedores o de terceras personas, introducir o
      difundir en la red virus informáticos o cualesquiera otros sistemas
      físicos o lógicos que sean susceptibles de provocar los daños
      anteriormente mencionados; (d) intentar acceder y, en su caso, utilizar
      las cuentas de correo electrónico, nicks o identificadores de otros
      usuarios y modificar o manipular sus mensajes.
    </p>

    <p>
      Skill Connect se reserva el derecho de moderar y/o retirar todos aquellos
      comentarios y aportaciones que vulneren el respeto a la dignidad de la
      persona, que sean discriminatorios, xenófobos, racistas, pornográficos,
      que atenten contra la juventud o la infancia, el orden o la seguridad
      pública o que, a su juicio, no resultaran adecuados para su publicación.
    </p>

    <h1>Exclusión de garantías y responsabilidad</h1>
    <p>
      Skil Connect no se hace responsable, en ningún caso, de los daños y
      perjuicios de cualquier naturaleza que pudieran ocasionar, a título
      enunciativo: errores u omisiones en los contenidos, falta de
      disponibilidad del portal o la transmisión de virus o programas maliciosos
      en los contenidos, a pesar de haber adoptado todas las medidas
      tecnológicas necesarias para evitarlo.
    </p>

    <p>
      Skil Connect no será responsable de las opiniones vertidas por los
      usuarios a través de los foros, comunidades, comentarios de noticias,
      análisis de los lectores y otras secciones de la revista u otras
      herramientas de participación que muestren las opiniones y/o comentarios
      de los usuarios del site.
    </p>
    <h1>Modificaciones</h1>
    <p>
      Skil Connect se reserva el derecho de efectuar sin previo aviso las
      modificaciones que considere oportunas en la web 3DJUEGOS, pudiendo
      cambiar, suprimir o añadir tanto los contenidos y servicios que se presten
      a través de la misma como la forma en la que éstos aparezcan presentados o
      localizados en el Website.
    </p>
    <p>
      Asimismo, Skil Connect se reserva la rescisión de los servicios que
      realiza, en aquellos usuarios que no cumplan con los términos y
      condiciones legales de uso, así como con la legislación vigente.
    </p>

    <p>
      Skil Connect podrá modificar en cualquier momento las condiciones aquí
      determinadas, siendo debidamente publicadas como aquí aparecen. La
      vigencia de las citadas condiciones irá en función de su exposición y
      estarán vigentes hasta que sean modificadas por otras debidamente
      publicadas.
    </p>
    <h1>Política de privacidad y protección de datos</h1>
    <p>
      En Skil Connect tratamos la información que nos facilita con el fin de
      prestarles el servicio solicitado o enviare la información requerida. Los
      datos proporcionados se conservarán mientras no nos solicite el cese de la
      actividad. Los datos no se cederán a terceros salvo en los casos en que
      exista una obligación legal. Usted tiene derecho a obtener información
      sobre si en Skil Connet estamos tratando sus datos personales, por lo que
      puede ejercer sus derechos de acceso, rectificación, supresión y
      portabilidad de datos y oposición y limitación a su tratamiento ante Skil
      Connet, Calle Verdadera 65 o en la dirección de correo electrónico
      correo@correo.com, adjuntando copia de su DNI o documento equivalente.
      Asimismo, y especialmente si considera que no ha obtenido satisfacción
      plena en el ejercicio de sus derechos, podrá presentar una reclamación
      ante la autoridad nacional de control dirigiéndose a estos efectos a la
      Agencia Española de Protección de Datos, C/ Jorge Juan, 6 – 28001 Madrid
    </p>

    <h1>Finalidades y bases jurídicas del tratamiento</h1>
    <p>
      Los datos personales registrados por medio de los formularios habilitados
      al efecto en el Sitio Web son recabados por Skil Connect con las
      siguientes finalidades:
    </p>

    <table>
      <tr>
        <th>Finalidad</th>
        <th>Trataremos tus datos personales:</th>
        <th>Podemos tratar tus datos personales para esta finalidad</th>
      </tr>
      <tr>
        <td>
          <b>Gestión del servicio.</b> Realizar funciones de gestión,
          administración y prestación así como de mejora de los servicios que
          presta Skil Connect.
        </td>
        <td rowspan="3">Mientras seas usuario de Skil Connect</td>
        <td>
          Es necesario para poder mantener la relación contractual que nos une
          contigo y poder prestarte los servicios que garantizamos.
        </td>
      </tr>
      <tr>
        <td>
          <b> Estudios estadísticos sobre el uso de los servicios. </b> Poder
          llevar a cabo estudios estadísticos que permitan a Skil Connect
          analizar cómo usan sus servicios los usuarios
        </td>
        <td>
          Skil Connect tiene un interés legítimo en tratar tus datos personales
          y, en particular, tu información sobre consumo con el fin de generar
          estudios estadísticos o agregados que permitan la mejora del servicio.
        </td>
      </tr>
      <tr>
        <td>
          <b>Recabar tu opinión sobre Skil Connect.</b> Poder recabar tu opinión
          a través de diferentes herramientas con el fin de analizarla y poder
          diseñar nuevos productos en base a esta.
        </td>
        <td>
          Asimismo, Skil Connect considera que esta finalidad es compatible con
          la indicada en el apartado 1 ya que existe una relación entre ambas
          finalidades (realizamos estudios estadísticos para poder prestarle un
          mejor servicio). En ningún caso se tomarán medidas que te afecten de
          forma individual y tus datos personales serán anonimizados.
          Entendemos, por otro lado, que puedes esperar razonablemente que tu
          información personal se trate para esta finalidad.
        </td>
      </tr>
      <tr>
        <td>
          <b>Enviarte comunicaciones técnicas y operativas.</b> Skil Connect
          enviará comunicaciones a través de medios tanto tradicionales como
          electrónicos, comunicaciones de carácter técnico y operativo, como por
          ejemplo, como respuesta a posibles incidencias informáticas que tengan
          lugar en el Sitio Web.
        </td>
        <td>
          (i) Mientras dure la incidencia por la cual rellenas el formulario de
          contacto en caso de no ser usuario registrado o (ii) Mientras seas
          usuario de Skil Connect
        </td>
        <td>
          <p>
            Skil Connect puede tratar tus datos para desarrollar la relación
            contractual que nos vincula.
          </p>
          <p>
            Asimismo, Skil Connect tiene un interés legítimo en tratar tus
            datos, en particular, los problemas técnicos que puedan ocurrir
            durante tu navegación en la página para prevenir y mejorar su
            seguridad y eficiencia informática.
          </p>
        </td>
      </tr>
    </table>

    <h1 class="mt-2">Derechos</h1>
    <p>
      Usted puede ejercitar los derechos que se indican a continúan ante Skil
      Connect. Para ello, simplemente deberá remitir un escrito, acompañado de
      copia de su DNI o documento equivalente, a la dirección de correo
      electrónico privacidad@webedia-group.com. Si su solicitud no reúne los
      requisitos necesarios, Skil Connect podrá requerir su subsanación. Si
      considera que su solicitud no ha sido atendida correctamente, puede
      presentar una reclamación ante la Agencia Española de Protección de Datos.
      Los derechos de que dispone en materia de protección de datos son los
      siguientes:
    </p>

    <table>
      <tr>
        <th>Derecho</th>
        <th>¿En qué consiste?</th>
      </tr>
      <tr>
        <td>Derecho de acceso</td>
        <td>Consultar qué datos personales trata Skil Connect</td>
      </tr>

      <tr>
        <td>Derecho de rectificación</td>
        <td>
          Modificar los datos personales que trata 3DJUEGOS cuando sean
          inexactos
        </td>
      </tr>
      <tr>
        <td>Derecho de oposición</td>
        <td>
          Solicitar que 3DJUEGOS no trate tus datos personales para algunas
          finalidades concretas
        </td>
      </tr>
      <tr>
        <td>Derecho de supresión</td>
        <td>Solicitar que 3DJUEGOS elimine tus datos personales</td>
      </tr>
      <tr>
        <td>Derecho de limitación</td>
        <td>
          Solicitar que 3DJUEGOS limite el tratamiento de tus datos personales
        </td>
      </tr>
      <tr>
        <td>Derecho de portabilidad</td>
        <td>
          Solicitar que 3DJUEGOS te entregue en un formato informático la
          información que trata sobre ti.
        </td>
      </tr>
    </table>
  </div>
</div>
