<div
  class="message-container-fluid"
  [ngClass]="{ isOwnMessageContainer: isOwnMessage }"
>
  <div class="message-data" [ngClass]="{ isOwnMessageData: isOwnMessage }">
    <span class="sender" [ngClass]="{ isOwnSender: isOwnMessage }">
      <b> {{ userEmail }} </b>
      <span class="timestamp" [ngClass]="{ isOwnTimestamp: isOwnMessage }">
        {{ timeStamp | date: "medium" }}
      </span>
    </span>

    <div
      class="message-content"
      [ngClass]="{ isOwnMessageContent: isOwnMessage }"
    >
      {{ messageContent }}
    </div>
  </div>
</div>
