<div class="container-fluid">
  <div class="gallery-container">
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/A%20Way%20Out%2FAWO_StandardEdition_PrdctSetup_KeyArtPDP_3840x2160.jpg?alt=media&token=76e7f947-c8c3-4462-b5f9-c0c5a2d60add"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Sea%20of%20Thieves%2Fdefault.jpg?alt=media&token=23ac8dbe-0298-4bd4-b18b-327ef22c80a5"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Cuphead%2Fthumb-1920-901678.jpg?alt=media&token=e856ff50-c8c4-44b7-b2c0-89ee3f24ac17"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/The%20Division%202%2Fthe-division-2-portada2.jpg?alt=media&token=16cee525-7a28-4ad1-aee0-98563979c88e"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Call%20of%20Duty%20Cold%20War%2Fcall-of-duty-black-ops-cold-war-portadda1.jpg?alt=media&token=214e06f0-71b8-4c48-b871-28ae848190f0"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Overwatch%2FOverwatch-Fondo.jpg?alt=media&token=2c001a2f-3130-4f4b-871b-61e4759e1fc3"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/League%20of%20legend%2Fleague-legend-portada2.jpg?alt=media&token=a7799803-f853-4de1-994a-26d79524a726"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Mario%20Kart%208%20Deluxe%2Fwp1843519.jpg?alt=media&token=94f30294-75f1-45c0-9401-a47409e6e50f"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/apex%20legends%2Fbloodhound-apex-legends-videojuego-papel-pintado-1920x1080_48.jpg?alt=media&token=35d8fe91-70bd-4be0-a58b-db05ca9eaa74"
        alt=""
        class="gallery__img"
      />
    </div>
    <div class="gallery__item">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Sea%20of%20Thieves%2Fwp2457537.jpg?alt=media&token=7f794bb8-eec4-412e-ad46-3b443e84f59f"
        alt=""
        class="gallery__img"
      />
    </div>
  </div>
</div>
