.container-fluid {
    padding: 0;
    margin: 0;
    background-image: url();
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    .container {
      background: white;
      border: 1px solid black;
      border-radius: 15px;
      padding-bottom: 10px;
      margin-top: 20vh;
      margin-bottom: 3vh;

    }
    .dismenuizq {
        padding: 12px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
          border: 1px solid black;
        }
      }
      .dismenuderc {
        background: white;
        padding: 12px;
        border-radius: 0 15px 0;
        font-size: 15px;
        text-align: justify;
        h1{
          font-weight: 500;
        }
        h3{
            font-weight: 500;
        }
        span{
            font-weight: 500;
        }
    }
}