<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Valorant%2Fvalorant-galeria-1.jpg?alt=media&token=c1bf9076-9b31-4c7a-ad72-c55ae4bfd893" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Valorant%2Fvalorant-fondo.jpg?alt=media&token=35768bdc-db55-4604-8031-2b851c84f5d2" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyecto-final-a8b18.appspot.com/o/Valorant%2Fvalorant-galeria-2.jpg?alt=media&token=efb88294-c994-4178-b45c-63dfc8f6eb93" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>